:root {
  --main-border: 1px solid var(--bs-black);
  --extra-border: 1px dashed var(--bs-black);
}

.body {
  max-width: 600px;
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pre {
  display: flex;
  justify-content: center;
}